<div style="padding: 10px; height: 300px">
  <nz-table
    [nzBordered]="true"
    [nzShowPagination]="true"
    [nzData]="listOfData"
    [nzShowSizeChanger]="true"
    [nzPageSize]="10"
    nzSize="small"
  >
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Entry</th>
        <th>Entry Date</th>
        <th>Size</th>
        <th>Leverage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfData">
        <td style="font-size: 12px; text-align: left">{{ item.Symbol }}</td>
        <td style="font-size: 11px; direction: ltr; text-align: center">
          {{ item.Entry }}
        </td>
        <td style="font-size: 12px; direction: ltr; text-align: center">
          {{ item.EntryDate | date: "yyyy-MM-dd HH:mm" }}
        </td>
        <td style="font-size: 12px; text-align: center">
          {{ item.Size }}
        </td>
        <td style="font-size: 12px; text-align: center">
          {{ item.Leverage }}
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
