<div
  class="box"
  attr.data-id="{{ id }}"
  cdkDrag
  (cdkDragMoved)="moved($event)"
  (click)="clicked($event)"
  style="width: 130px; flex-direction: column"
  [ngStyle]="{ border: hasBorder ? '1px solid #185691' : '' }"
  [ngStyle]="{ top: location[0] && !boxMoved ? location[0] : '0px' }"
  [ngStyle]="{ left: location[1] && !boxMoved ? location[1] : '0px' }"
>
  <div
    cdkDragHandle
    style="
      width: 100%;
      height: 35px;
      padding-top: 5px;
      background-color: #000c17;
      color: white;
      cursor: move;
      display: flex;
      flex-direction: row;
    "
  >
    <ng-template #contentTemplate>
      <div>
        <div style="font-size: 12px">
          About the {{ indicator.title }} :
          <br />
          {{ indicator.description }}
        </div>
      </div>
    </ng-template>
    <div style="width: 80%; text-align: center">{{ name }}</div>
    <div style="cursor: help">
      <i
        style="font-size: 15px"
        nz-icon
        nzType="info-circle"
        nz-popover
        [nzPopoverTitle]="indicator.title"
        nzPopoverTrigger="hover"
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="rightBottom"
      ></i>
    </div>
  </div>
  <div
    style="
      padding-top: 5px;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: white;
      height: 100%;
      background-color: #001529;
    "
  >
    <div class="item" *ngFor="let parameter of indicator?.parameters">
      <div style="width: 10px" id="input">
        <div *ngIf="parameter.isInput" class="connector">
          <span
            class="dot"
            [ngClass]="[parameter.type]"
            attr.data-type="{{ parameter.type }}"
          ></span>
        </div>
      </div>
      <div>
        <div *ngIf="parameter.dataEntry == false" class="title">
          {{ parameter?.title }}
        </div>
        <div *ngIf="parameter.dataEntry" class="title">
          <input
            type="text"
            [placeholder]="parameter?.title"
            style="
              border: none;
              font-size: 12px;
              width: 80%;
              padding-left: 10px;
              background-color: #303942;
              color: #fff;
            "
          />
        </div>
      </div>
      <div style="width: 10px" id="output">
        <div *ngIf="parameter.isInput == false" class="connector">
          <span
            class="g-dot"
            [ngClass]="[parameter.type]"
            attr.data-type="{{ parameter.type }}"
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
