<div
  class="box"
  cdkDrag
  (cdkDragMoved)="moved($event)"
  style="width: 130px; flex-direction: column"
>
  <div
    cdkDragHandle
    style="
      width: 100%;
      height: 35px;
      padding-top: 5px;
      background-color: #000c17;
      color: white;
      cursor: move;
    "
  >
    {{ name }}
  </div>
  <div
    style="
      padding-top: 5px;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: white;
      height: 100%;
      background-color: #001529;
    "
  >
    <div class="item" *ngFor="let parameter of indicator?.parameters">
      <div style="width: 10px" id="input">
        <div *ngIf="parameter.isInput" class="connector">
          <span
            class="dot"
            [ngClass]="[parameter.type]"
            attr.data-type="{{ parameter.type }}"
          ></span>
        </div>
      </div>
      <div>
        <div class="title">{{ parameter?.title }}</div>
      </div>
      <div style="width: 10px" id="output">
        <div *ngIf="!parameter.isInput" class="connector">
          <span
            class="g-dot"
            [ngClass]="[parameter.type]"
            attr.data-type="{{ parameter.type }}"
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
