@import "theme";

.ax-number-widget {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;

  &__ {
    &main {
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      border-bottom: 1px solid #eee;
    }

    &footer {
      font-size: 12px;
      padding: 8px 0;
      color: #777;
      text-align: left;
      direction: ltr;
    }

    &content {
      display: flex;
      flex-direction: column;
    }

    &title {
      font-size: 12px;
    }

    &number {
      font-size: 20px;
      margin-top: 8px;
    }

    &icon {
      font-size: 28px;
      color: #fff;
      width: 28px;
      height: 28px;
      vertical-align: middle;

      &-wrapper {
        padding: 12px;
        border-radius: 50%;
        align-self: center;

        &_success {
          background-color: $success-color;
        }
        &_info {
          background-color: var(--info-color);
        }
        &_primary {
          background-color: $primary-color;
        }
        &_warning {
          background-color: $warning-color;
        }
        &_danger {
          background-color: $danger-color;
        }
      }
    }
  }
}
