<div *ngIf="model" class="ax-pie-chart">
  <!-- <canvas baseChart (chartClick)="handleClick($event)" [data]="model.series.data" [labels]="model.labels | chartLabel"
        [chartType]="pieChartType" [options]="pieChartOptions" [legend]="showLegend" [colors]="pieChartColors">
    </canvas> -->
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
    [colors]="chartOptions.colors"
    [legend]="chartOptions.legend"
    [fill]="chartOptions.fill"
    [dataLabels]="chartOptions.dataLabels"
  ></apx-chart>
</div>
