<div #endingElement id="elm"></div>
<div class="header-box">
  <app-header (Save)="save()" (Open)="showStrategiesList()"></app-header>
</div>

<div style="background-color: #000c17">
  <div nz-row>
    <div
      nz-col
      nzSpan="3"
      style="border-right: 1px solid balck; border-top: 1px solid black"
    >
      <div class="search-box">
        <input
          placeholder="Search"
          [(ngModel)]="searchValue"
          class="search-input"
        />
      </div>
      <ul>
        <div *ngFor="let ig of indicatorGroups">
          <div class="group-box">
            <li class="group-li">
              <div class="group-li-header" (click)="openHandler(ig.title)">
                <i nz-icon [nzType]="ig.icon" style="font-size: 15px"></i>
                <span style="margin-left: 5px">{{ ig.title }}</span>
                <i
                  *ngIf="ig.isOpen == false"
                  style="margin-left: auto"
                  nz-icon
                  nzType="caret-down"
                ></i>
                <i
                  *ngIf="ig.isOpen"
                  style="margin-left: auto"
                  nz-icon
                  nzType="minus"
                ></i>
              </div>
            </li>
            <div *ngIf="ig.isOpen" class="items-box">
              <ul>
                <li
                  *ngFor="let indicator of ig.indicators"
                  (click)="itemClick(indicator)"
                  style="color: #fff; font-size: 12px"
                >
                  <div class="items-body" (click)="openHandler(ig.title)">
                    <i nz-icon nzType="star"></i>
                    <span style="padding-left: 5px">
                      {{ indicator.title }}</span
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div
      nz-col
      nzSpan="21"
      class="main"
      #block
      clickable
      (click)="mainClick($event)"
      (contextmenu)="rightClick($event)"
      (mousemove)="mouseMove($event)"
    >
      <div style="border: 1px soild red">
        <box
          *ngFor="let box of boxs"
          [name]="box.title"
          [id]="box.id"
          [indicator]="box.indicator"
          [hasBorder]="selectedBoxId == box.id"
          [transform]="box.transform"
          (Move)="boxMoved($event)"
          (Click)="boxClick($event)"
          (ParameterClick)="parameterClick($event)"
        ></box>
      </div>
      <!-- <box #startingElement  (MoveEvent)="boxMoved($event)"></box>
      <box #endingElement name="MA" (MoveEvent)="boxMoved($event)"></box> -->

      <!-- <LeaderLine
        start="{{ startingElement }}"
        end="{{ endingElement }}"
      ></LeaderLine> -->
    </div>
  </div>
</div>

<ng-template #saveModalContent>
  <input nz-input placeholder="Strategy Name" [(ngModel)]="strategyName" />
</ng-template>
