$header-height: 50px;
$footer-height: 30px;

.main {
  background-size: 10px 10px;
  background-image: linear-gradient(
      to right,
      rgba(158, 158, 158, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(158, 158, 158, 0.04) 1px, transparent 1px);
  background-color: #19222d;
  height: calc(100vh - #{$header-height + $footer-height});
}

.header-box {
  height: $header-height;
  width: 100%;
  background-color: #000c17;
  padding-right: 10px;
}

#elm {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  // display: none;
}

.search-box {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.search-input {
  border-radius: 15px;
  margin-left: 5%;
  border: none;
  font-size: 12px;
  width: 90%;
  padding-left: 10px;
  background-color: #303942;
  color: #fff;
}

.group-box {
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  margin-top: 10px;
  background-color: #001529;
}

.group-li {
  width: 100%;
  height: 30px;
  color: aliceblue;
  font-size: 13px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  padding-left: 5%;
}

.group-li-header {
  display: flex;
  width: 92%;
  align-items: center;
  border: 2px solid #001529;
}

.items-box {
  background-color: #001529;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-bottom: 5px;
}

.items-body {
  display: flex;
  width: 90%;
  margin-left: 5%;
  align-items: center;
  background-color: #000c17;
  border-radius: 15px;
  padding-left: 5px;
  margin-top: 5px;
  cursor: pointer !important;
}

.footer-box {
  height: $footer-height;
  width: 100%;
  background-color: #000c17;
}
