<div class="header-box">
  <app-header></app-header>
</div>

<div style="background-color: #000c17">
  <div nz-row>
    <div nz-col nzSpan="3" style="border-right: 2px solid balc">
      <ul nz-menu nzMode="inline" style="width: 240px" nzTheme="dark">
        <li
          nz-submenu
          *ngFor="let ig of indicatorGroups"
          [(nzOpen)]="ig.isOpen"
          (nzOpenChange)="openHandler(ig.title)"
          [nzTitle]="ig.title"
          [nzIcon]="ig.icon"
        >
          <ul>
            <li nz-menu-group>
              <ul>
                <li
                  *ngFor="let indicator of ig.indicators"
                  (click)="itemClick(indicator)"
                  nz-menu-item
                >
                  {{ indicator.title }}
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div
      nz-col
      nzSpan="21"
      class="main"
      #block
      clickable
      (click)="mainClick($event)"
      (mousemove)="mouseMove($event)"
    >
      <div #endingElement id="elm"></div>
      <box
        *ngFor="let box of boxs"
        [name]="box.title"
        [indicator]="box.indicator"
        (MoveEvent)="boxMoved($event)"
      ></box>

      <!-- <box #startingElement  (MoveEvent)="boxMoved($event)"></box>
      <box #endingElement name="MA" (MoveEvent)="boxMoved($event)"></box> -->

      <!-- <LeaderLine
        start="{{ startingElement }}"
        end="{{ endingElement }}"
      ></LeaderLine> -->
    </div>
  </div>
</div>
