<form nz-form [formGroup]="validateForm" (ngSubmit)="onSave()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="account"
      >Account
    </nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="The input is not valid Account!"
    >
      <nz-select formControlName="account">
        <nz-option nzValue="1" nzLabel="Binance"></nz-option>
        <!-- <nz-option nzValue="2" nzLabel="Kucoin"></nz-option>
        <nz-option nzValue="3" nzLabel="Coinex"></nz-option> -->
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="market">Market</nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Please input your Market!"
    >
      <nz-select formControlName="market" nzShowSearch nzAllowClear>
        <nz-option nzValue="BTCUSDT" nzLabel="BTCUSDT"></nz-option>
        <nz-option nzValue="ETHUSDT" nzLabel="ETHUSDT"></nz-option>
        <nz-option nzValue="MKRUSDT" nzLabel="MKRUSDT"></nz-option>
        <nz-option nzValue="CRVUSDT" nzLabel="CRVUSDT"></nz-option>
        <nz-option nzValue="AAVEUSDT" nzLabel="AAVEUSDT"></nz-option>
        <nz-option nzValue="NEARUSDT" nzLabel="NEARUSDT"></nz-option>
        <nz-option nzValue="UNIUSDT" nzLabel="UNIUSDT"></nz-option>
        <nz-option nzValue="RUNEUSDT" nzLabel="RUNEUSDT"></nz-option>
        <nz-option nzValue="BNBUSDT" nzLabel="BNBUSDT"></nz-option>
        <nz-option nzValue="XMRUSDT" nzLabel="XMRUSDT"></nz-option>
        <nz-option nzValue="XRPUSDT" nzLabel="XRPUSDT"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Amount</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-number
        style="width: 100%"
        [nzMin]="0"
        [nzMax]="1000000"
        [nzStep]="0.00001"
        formControlName="amount"
      ></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amount">
      <span>Interval</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="interval">
        <nz-option nzValue="1" nzLabel="1 Minute"></nz-option>
        <nz-option nzValue="3" nzLabel="3 Minutes"></nz-option>
        <nz-option nzValue="5" nzLabel="5 Minutes"></nz-option>
        <nz-option nzValue="15" nzLabel="15 Minutes"></nz-option>
        <nz-option nzValue="30" nzLabel="30 Minutes"></nz-option>
        <nz-option nzValue="60" nzLabel="1 Hour"></nz-option>
        <nz-option nzValue="120" nzLabel="2 Hours"></nz-option>
        <nz-option nzValue="240" nzLabel="4 Hours"></nz-option>
        <nz-option nzValue="1440" nzLabel="Daily"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
