.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 12px;
}
.date {
  padding-left: 10px;
  padding-top: 5px;
  color: white;
}
.data {
  padding-left: 10px;
  padding-top: 5px;
  user-select: text;
}
