@import "theme";

//$icon-color: #0b7;
$icon-color: lightgray;
$text-color: lightgray;
img {
  height: 30px;
}

.ax-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: $text-color;
  align-items: center;
  height: 50px;
  // &__ {
  //   &start-section {
  //     margin-right: auto;
  //     display: flex;
  //     color: $text-color;
  //   }

  //   &end-section {
  //     margin-left: auto;
  //     display: flex;
  //   }

  //   &separator {
  //     height: 30px;
  //     width: 1px;
  //     background-color: #69b0e0;
  //     margin-top: 10px;
  //     margin-right: 16px;
  //   }
  // }
}
