<div
  class="ax-header__end-section"
  style="display: flex; justify-content: flex-end"
>
  <div class="ax-header__user">
    <button mat-icon-button>
      <mat-icon class="ax-header__user-icon">language</mat-icon>
    </button>
  </div>

  <div class="ax-header__user">
    <button mat-icon-button>
      <mat-icon class="ax-header__user-icon">color_lens</mat-icon>
    </button>
  </div>

  <div class="ax-header__user">
    <button mat-icon-button>
      <mat-icon class="ax-header__user-icon">notifications</mat-icon>
    </button>
  </div>

  <div class="ax-header__user">
    <button mat-icon-button>
      <mat-icon class="ax-header__user-icon">account_circle</mat-icon>
    </button>
  </div>
</div>
