<div class="ax-notifications-menu">
  <div class="ax-notifications-menu__header">
    <span class="ax-notifications-menu__header-messages">{{
      "Messages" | translate
    }}</span>
    <span class="ax-notifications-menu__header-clear">{{
      "Clear All" | translate
    }}</span>
  </div>
  <div
    *ngIf="notifications$ | async as notifications"
    class="ax-notifications-menu__list"
  >
    <a
      *ngFor="let notification of notifications"
      class="ax-notifications-menu__list-item"
    >
      <mat-icon class="ax-notifications-menu__message-icon"
        >mail_outline</mat-icon
      >
      <div class="ax-notifications-menu__text-box">
        <p class="ax-notifications-menu__message-title">
          {{ notification.title }}
        </p>
        <p class="ax-notifications-menu__message-date">
          {{ notification.sentDate | date: "yyyy-MM-dd HH:mm" }}
        </p>
      </div>
    </a>
  </div>
  <a class="ax-notifications-menu__view-all">{{ "Show All" | translate }}</a>
</div>
