@import "theme";

.ax-notifications-menu {
  width: 320px;
  padding: 0 4px;
  color: #6c757d;
  font-size: 12px;

  &__ {
    &header {
      display: flex;
      justify-content: space-between;
      padding: 8px 20px 12px 20px;
      border-bottom: 1px solid #efefef;

      &-messages {
        color: #000c17;
      }

      &-clear {
        color: #1890ff;
        cursor: pointer;
      }
    }

    &message {
      &-title {
        margin: 0;
      }

      &-date {
        margin: 0;
        color: #8a98ac;
        font-size: 11px;
      }

      &-icon {
        background-color: rgba(0, 128, 255, 0.1);
        border-radius: 2px;
        width: 40px;
        height: 40px;
        color: var(--info-color);
        line-height: 40px;
        font-size: 20px;
        text-align: center;
        margin-left: 16px;
        flex-shrink: 0;
      }
    }

    &list {
      min-height: 230px;
      max-height: 230px;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      &-item {
        padding: 10px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        min-height: 75px;
        border-bottom: 1px solid #f1f1f1;

        &:hover {
          background-color: #f3f7f9;
        }
      }
    }
    &text-box {
      padding-left: 10px;
    }

    &view-all {
      text-align: center;
      display: block;
      padding: 8px 16px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .ax-notifications-menu {
    width: 280px;
  }
}
