<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-control nzErrorTip="Fill RePassword">
      <nz-input-group nzPrefixIcon="lock">
        <input
          formControlName="reNewPwd"
          nz-input
          type="password"
          placeholder="RePassword"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Fill New Password">
      <nz-input-group nzPrefixIcon="lock">
        <input
          formControlName="newPwd"
          type="password"
          nz-input
          placeholder="New Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
