<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-control nzErrorTip="رمز عبور جدید را وارد کنید">
      <nz-input-group nzPrefixIcon="lock">
        <input
          formControlName="newPwd"
          type="password"
          nz-input
          placeholder="رمز عبور جدید"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="تکرار رمز عبور را وارد کنید">
      <nz-input-group nzPrefixIcon="lock">
        <input
          formControlName="reNewPwd"
          nz-input
          type="password"
          placeholder="تکرار رمز عبور"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
